<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard Secretaria</title>
</head>
<body>
    
    <div class="container">
        {% include "user_bar.html" %}
        Dashboard Secretaria

        <form action="create_case/"  method="post">
            {%csrf_token%}
            <div class="form-group">
                <label for="title">Nombre Escrito</label>
                <input type="text" name="title" id="title" class="form-control">            
            </div>
            <div class="form-group">
                <label for="network">Network</label>
                <input type="text" name="network" id="network" class="form-control">            
            </div>
            <div class="form-group">
                <label for="release_date">Release Date</label>
                <input type="date" name="release_date" id="release_date" class="form-control">            
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" id="description" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <button class="btn btn-primary">Crear Nuevo</button>
            <button class="btn btn-primary">Editar</button>
            <button class="btn btn-primary">Cambiar Estado</button>

        
        </form>
        
        <h4>Lista de Escritos</h4>
        
        <table> 
        
        <th>Nº Escrito</th>
        <th>Fecha Creación</th>
        <th>Fecha Modificación</th>
        <th>Acciones</th>
        
        {% if user.cases.all %}
        
        {% for case in cases_pending %}
        <tr>
        <td>{{case.name}}</td>
        <td>{{case.created_date}}</td>
        <td>{{case.modification_date}}</td>
        <td> <a href ="/case_detail/{{case.id}}">  Editar</a> </td>
        </tr>
        {%endfor%}
        </table>
        {%endif%}
        
    </div>
</body>
</html>